.two {
    background-color: peachpuff;
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    height: 100vh;
    margin: 0px;
    width:fit-content;
}
img {
    width: 220px;
    margin-left: -100px;
    flex: 0;
}
.right-top,
.right-bot {
    flex: 1;
    background-color: rgb(245 247 246);
    display: flex;
    padding: 50px;
}
.right-mid {
    flex: 1;
    background-color: rgb(255 255 255);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}
.right-top {
    align-items: flex-end;
}
label {
    font-size: 12px;
}
.right-bot {
    flex-direction: column;
    gap: 20px;
}
@font-face {
    font-family: Norse;
    src: url(/home/nick/Downloads/Norse-Bold.otf);
  }

  input:invalid {
    border-color: red;
  }

  input:focus {
    border-color: lightblue;
    box-shadow: 3px 3px 3px rgba(27, 25, 25, 0.37);
    outline: none;
  }

.error {
    border-color: red;
    outline: none;
  }

.error::before {
    color:red;
    content: "*Passwords do not match";
}
#back-img{
    display: flex;
    background: url(/home/nick/Downloads/maryna-yazbeck-bT2XiJtcQ1M-unsplash.jpg);
    width: 370px;
    background-position: center;
    flex-direction: column;
    flex: 1.2 1 0%;
}
#logo-container{
    width: auto;
    height: 100px;
    flex: 2;
    display: flex;
    align-items: flex-end;
}
#black-container{
    height: 150px;
    width: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 2, 0.5);
}
#logo-txt{
    color: white;
    font-size: 100px;
    margin-left: -30px;
    font-family: Norse;
}
#left-mid{
    height: 100px;
    width: auto;
    flex: 1.5;
}
#left-bot{
    width: auto;
    height: 100px;
    flex: 2;
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}
#sign-up-txt{
    font-size: larger;
    font-weight: bolder;
}
#input-field{
    display: flex;
    gap: 50px;
}
#left-input{
    display: flex;
    flex-direction: column;
}
#message{
    margin-top: 3px;
    margin-bottom: 0px;
}
#right-input{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
button{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    font-weight: bolder;
    border-width: 0px;
}